<!DOCTYPE html>
<html lang="de">

<!-- Machine Code-->

<head>
    <meta charset="UTF-8">
    <title> &#129409; Holy Grail Layout &#129409;</title>
    <link rel="stylesheet" href="../styles/mainStyle.css">
</head>

<!-- Human Code-->

<body>
    <div class="body">
        <div class="el NavBar">
            <div class="FlexNavItems">
                <div class="LeftNavSide">
                    <div class="NavLogo">LOGO</div>
                    <ul>
                        <li>
                            <a href="https://instagram.com/alina.animal.photo">
                                Home
                            </a>
                        </li>
                        <li>
                            <a>
                                About
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="RightNavSide">
                    <button>Contact me pls</button>
                </div>
            </div>
        </div>
        <div class="el Content">
            <section class="TodoListSection">
                <div class="ContentHeader">
                    <h1 class="Intro"> Welcome to my simple To-do list project</h1>
                </div>
            </section>
        </div>
        <div class="el LeftPanel">Sub Funktionen</div>
        <div class="el RightPanel">Werbungen & Trends</div>
        <div class="el Footer">Fußzeile</div>
    </div>
</body>

</html>